@import url('https://fonts.cdnfonts.com/css/itc-benguiat-std');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ITC Benguiat Std', sans-serif;
    color: white;
 }

 body {
    /* background-image: url('images/stranger-things-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover; */
    background: black;
 }


 .quote-container {
    background: transparent;
    width: 700px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
 }

 .quote-container img {
    width: 500px;
    top: 20%;
    margin: 0 auto;
    position: relative;
 }

hr{
    width: 400px;
    margin: 0 auto;
}

 .quote-container blockquote {
    font-size: 26px;
    min-height: 110px;
 }

 .quote-container blockquote::before, .quote-container blockquote::after {
    content: '"';
 }

 .quote-container span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-size: 18px;
 }

 .quote-container span::before {
     content: '';
     width: 10px;
     height: 2px;
     background: white;
     position: absolute;
     top: 30%;
     left: -15px;
 }

 .quote-container div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

 .quote-container button {
    background: #ff1515;
    color: #fff;
    border-radius: 25px;
    border: 3px solid #ff1515;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background: transparent;
    cursor: pointer;
 }